In [1]:
import pandas as pd
import numpy as np

In [2]:
lst = ['w','e','r']

In [3]:
pd.Series(lst)

0    w
1    e
2    r
dtype: object

In [4]:
lst2 = ['a','s','d']

In [5]:
pd.Series(data=lst,index = lst2)

a    w
s    e
d    r
dtype: object

In [6]:
d = {'a':'l','b':'W','c':'M'}

In [7]:
pd.Series(d)

a    l
b    W
c    M
dtype: object

In [10]:
s1 = pd.Series(CFC, index=[1,2,3,4])

In [9]:
CFC = ['dhoni','kholi','anderson','morgan']

In [11]:
s1

1       dhoni
2       kholi
3    anderson
4      morgan
dtype: object

In [12]:
s2 = pd.Series(avg)

NameError: name 'avg' is not defined

In [13]:
avg = ['iron','caption','thor','thor']

In [14]:
s2

NameError: name 's2' is not defined

In [15]:
seri1 = pd.Series([1,2,3,4],index=['summa','Germany','USSR','Japan'])

In [16]:
seri2 = pd.Series([5,4,6,4],index=['USSR','Japan','Usa','Germany'])

In [17]:
seri1

summa      1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
seri2

USSR       5
Japan      4
Usa        6
Germany    4
dtype: int64

In [19]:
seri1 + seri2

Germany    6.0
Japan      8.0
USSR       8.0
Usa        NaN
summa      NaN
dtype: float64

In [20]:
from numpy.random import randn

In [21]:
df = pd.DataFrame(randn(5,5),index='A B C D E'.split(), columns='P Q R S T'.split())

In [22]:
df[['P','Q']]

          P         Q
A  0.321191  0.243618
B  0.262991 -0.361682
C -1.038749 -0.883104
D -0.516557  0.695270
E -0.104991 -2.356339

In [23]:
df['U'] = df['P'] - df['R']

In [24]:
df

          P         Q         R         S         T         U
A  0.321191  0.243618 -0.321610 -0.866797 -0.405498  0.642801
B  0.262991 -0.361682 -1.068605  0.461694 -0.638045  1.331595
C -1.038749 -0.883104  0.543688  0.962973 -1.307535 -1.582437
D -0.516557  0.695270  0.918328 -1.516117 -0.215771 -1.434885
E -0.104991 -2.356339  0.340142 -0.702132  0.366965 -0.445133

In [25]:
df.drop('Q' , axis=1, inplace=True)

In [26]:
df

          P         R         S         T         U
A  0.321191 -0.321610 -0.866797 -0.405498  0.642801
B  0.262991 -1.068605  0.461694 -0.638045  1.331595
C -1.038749  0.543688  0.962973 -1.307535 -1.582437
D -0.516557  0.918328 -1.516117 -0.215771 -1.434885
E -0.104991  0.340142 -0.702132  0.366965 -0.445133

In [27]:
df.drop('C',axis=0)

          P         R         S         T         U
A  0.321191 -0.321610 -0.866797 -0.405498  0.642801
B  0.262991 -1.068605  0.461694 -0.638045  1.331595
D -0.516557  0.918328 -1.516117 -0.215771 -1.434885
E -0.104991  0.340142 -0.702132  0.366965 -0.445133

In [28]:
df

          P         R         S         T         U
A  0.321191 -0.321610 -0.866797 -0.405498  0.642801
B  0.262991 -1.068605  0.461694 -0.638045  1.331595
C -1.038749  0.543688  0.962973 -1.307535 -1.582437
D -0.516557  0.918328 -1.516117 -0.215771 -1.434885
E -0.104991  0.340142 -0.702132  0.366965 -0.445133

In [29]:
df[(df['P']>0) & (df['R']>0)][['P','R']]

Empty DataFrame
Columns: [P, R]
Index: []

In [30]:
df.reset_index()

  index         P         R         S         T         U
0     A  0.321191 -0.321610 -0.866797 -0.405498  0.642801
1     B  0.262991 -1.068605  0.461694 -0.638045  1.331595
2     C -1.038749  0.543688  0.962973 -1.307535 -1.582437
3     D -0.516557  0.918328 -1.516117 -0.215771 -1.434885
4     E -0.104991  0.340142 -0.702132  0.366965 -0.445133

In [31]:
df

          P         R         S         T         U
A  0.321191 -0.321610 -0.866797 -0.405498  0.642801
B  0.262991 -1.068605  0.461694 -0.638045  1.331595
C -1.038749  0.543688  0.962973 -1.307535 -1.582437
D -0.516557  0.918328 -1.516117 -0.215771 -1.434885
E -0.104991  0.340142 -0.702132  0.366965 -0.445133

In [32]:
df['H'] = [1,2,3,4,5]

In [33]:
df

          P         R         S         T         U  H
A  0.321191 -0.321610 -0.866797 -0.405498  0.642801  1
B  0.262991 -1.068605  0.461694 -0.638045  1.331595  2
C -1.038749  0.543688  0.962973 -1.307535 -1.582437  3
D -0.516557  0.918328 -1.516117 -0.215771 -1.434885  4
E -0.104991  0.340142 -0.702132  0.366965 -0.445133  5